<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course Details</title>
</head>
<body>
<h2 th:text="${courses.title}"></h2>
<p th:text="${courses.description}"></p>
<p>Price: <span th:text="${courses.price}"></span></p>
<p>Level: <span th:text="${courses.level}"></span></p>
<p>Total Videos: <span th:text="${courses.totalVideos}"></span></p>
<p>Rating: <span th:text="${courses.rating}"></span></p>
<a th:href="@{/courses/{id}/payment(id=${courses.id})}">Buy Now</a>
</body>
</html>
